{{- if .Page.Site.Params.BookPortableLinks -}}
  {{- template "portable-link" . -}}
{{- else -}}
  {{- template "internal-link-preview" . -}}
{{- end -}}

{{- define "portable-link" -}}
  {{- $destination := .Destination }}
  {{- $isRemote := or (in .Destination ":") (strings.HasPrefix .Destination "//") }}
  {{- if not $isRemote }}
    {{- $url := urls.Parse .Destination }}
    {{- $path := strings.TrimSuffix "/_index.md" $url.Path }}
    {{- $path = strings.TrimSuffix "/_index" $path }}
    {{- $path = strings.TrimSuffix ".md" $path }}
    {{- $page := .Page.GetPage $path }}
    {{- if $page }}
      {{- $destination = $page.RelPermalink }}
      {{- if $url.Fragment }}
        {{- $destination = print $destination "#" $url.Fragment }}
      {{- end }}
    {{- else if fileExists (print .Page.File.Dir .Destination) }}
      <!-- Nothing -->
    {{- else -}}
      {{- warnf "Page '%s' not found in '%s'" .Destination .Page.File }}
    {{- end }}
  {{- end }}
  <a href="{{ $destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- end -}}

{{- define "internal-link-preview" -}}
  {{if strings.HasPrefix .Destination "http" }}
  {{ $external := .Destination }}

  <a href="{{ $external | safeURL }}"{{with .Title}}{{.}}{{end}}>
  {{ .Text | safeHTML }}</a>

  {{end}}


  {{ if not (strings.HasPrefix .Destination "http") }}
  {{ $internal := urls.Parse .Destination}}
  {{- if $internal.Path -}}
  {{ $fragment := "" }}
  {{- with $internal.Fragment }}{{ $fragment = printf "#%s" . }}{{ end -}}
  {{- with .Page.GetPage $internal.Path }}{{ $internal = printf "%s%s" .RelPermalink $fragment }}
  {{ end }}
  {{ end -}}


  <div class="tooltip">
  <a href="{{ $internal | safeURL }}"{{with .Title}}{{.}}{{end}}>
  {{ .Text | safeHTML }}</a>
  <div class="right bottom">
  <div class="tooltip-title">{{ with .Page.GetPage .Destination}}{{.Title}}{{end}}</div>
  <div class="tooltip-excerpt">
  {{with .Page.GetPage .Destination}}
  {{ with .Params.featured_image }}
  <figure><img class="title-image" src="{{ index . 0 }}" alt=""></figure>{{ end }}
  {{ end }}
  {{with .Page.GetPage .Destination}}{{.Summary}}{{end}}
  </div>
  </div>
  </div>
  {{- end -}}
{{- end -}}